# Library Import

In [11]:
import numpy as np
import pandas as pd
from google_trans_new import google_translator
from googletrans import Translator

# Read Data

In [2]:
df = pd.read_csv('English.csv')
df.head()

  English words/sentences
0                     Hi.
1                    Run!
2                    Run!
3                    Who?
4                    Wow!

In [3]:
df.describe()

                                  English words/sentences
count                                              175621
unique                                             123100
top     I can't tell you how happy I am that you've co...
freq                                                   32

In [8]:
df.isnull().sum()

English words/sentences    0
dtype: int64

# Task 1
----------
Translate each word or sentence from English to Spanish, French and German

In [23]:
translator = google_translator()
translator1 = Translator()

df1 = df.iloc[:5, :]
df1

  English words/sentences
0                     Hi.
1                    Run!
2                    Run!
3                    Who?
4                    Wow!

In [28]:
df1['English words/sentences']

0     Hi.
1    Run!
2    Run!
3    Who?
4    Wow!
Name: English words/sentences, dtype: object

In [27]:
df1['Spanish'] = df1['English words/sentences'].apply(translator1.translate, src='en', dest='es').apply(getattr, args=('text',))

AttributeError: 'NoneType' object has no attribute 'group'